---
import '@fontsource-variable/fraunces';
import '@fontsource-variable/source-serif-4';
import '@fontsource-variable/inter';
import '@fontsource/jetbrains-mono';
import '../styles/global.css';
import { SITE } from '../consts';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/SEO.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  image?: string;
  article?: boolean;
  publishedDate?: Date;
  updatedDate?: Date;
}

const { title, description, image, article, publishedDate, updatedDate } = Astro.props;
---

<!doctype html>
<html lang={SITE.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title={SITE.title} href="/rss.xml" />
    <SEO
      title={title}
      description={description}
      image={image}
      article={article}
      publishedDate={publishedDate}
      updatedDate={updatedDate}
    />
    <ClientRouter fallback="none"/>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-1 bg-main-bg">
      <slot />
    </main>
    <Footer />
  </body>
</html>
